.back {
  background-image: url("./images/banner-bg.png");
  background-size: 205vh;
  background-repeat: no-repeat;
  
  
}
.back2 {
  background-image: url("./images/work-process-bg.png");
  background-size: 205vh;
  background-repeat: no-repeat;
}


